{% extends 'base.html' %}



{% block content %}
<div class="container">
    <div class="row">
            {% for image in all_images %}
        <div class="col-md-10">
            
            <div class="card">
                   <a> <img src="{{image.profile_details.profile_pic.url}}" class="rounded-circle" style="width:10%; height:auto" alt=""/>
                    {{image.profile.username}}</a>
                   
                       
            
                
   


<hr>
                <div class="card-img-top">
                    <img style="height:450px;width:348px;" src="{{image.pic.url}}"
                    alt="" class="card-img-top" ></div>
                
                </div>
            </div>
{% endfor %}

</div>
  </div>
{% endblock %}
