<nav class="navbar navbar-expand-lg" id="navMain">
    <div class="container">
        <a class="" href="/"><i class="fa fa-instagram"style="font-size:30px;color:black" ></i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
       

            <ul class="navbar-nav ml-auto" style="list-style: none">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                   
                </li>

            

                               
                                
          <ul class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" style="font-family: 'Kodchasan', sans-serif; color: black"
                  aria-expanded="false">
                  {{user.username | upper}}
                  <span class="caret"></span>
              </a>
        <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{% url 'profile' user.id%}"style="font-family: 'Kodchasan', sans-serif; color: black">Profile</a>
            </li>
            <li>
              <a href="{% url 'upload_image' %}"  style="font-family: 'Kodchasan', sans-serif; color: black">Add a Post</a>
            </li>
            <li>
            <a href="/logout"  style="font-family: 'Kodchasan', sans-serif; color: black">Logout</a>
            </li>
            
         
        </ul>
  
      
    
    {% else %}
    <li>
      <a  href="/accounts/login">Login</a>
    </li>

    {% endif %}
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

        </div>
    </div>
</nav>