{% extends 'base.html' %}
 {% load bootstrap3 %}
{% load staticfiles %}

{% block content%}


<div class="container-fluid" style="margin-top:20px;">
    
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8" style=" padding:30px; border-bottom: 1px solid #ddd">

		      <div class="row" style="padding-bottom:20px">
           
			<div class="col-md-4">
				<img src="{{user.profile_pic.url}}" alt="" style="height:200px;width:200px; border-radius:50%;" >
              
            </div>
            <p style="font-weight:bold; font-size:35px">{{user.profile.bio}}</p>
              <h2><strong>{{profile.user}}</strong></h2>
			  <h4><strong>{{images|length}}</strong> Post{{images|pluralize}} <strong>{{followers}}</strong> Follower{{followers|pluralize}} <strong>{{user|length}}</strong> Following</h4>

              <div class="">
                <a href="{%url 'edit'%}"  class = " btn btn-default btn-block" style="display:inline-block; width:200px; font-size:20px;">Edit Profile</a>
                <i class="fa fa-cog" aria-hidden="true" style="font-size:30px; margin-left:10px"></i>
                
              </div>
              
                </div>
                 </div>
                 </div>



        {% for image in images %}
        <div class="col-md-4">
            <h3 class="card-title"{{image.caption}}></h3>
            <div class="card" style="width: auto">
                <img src="{{image.pic.url}}" alt="Image" class="card-img-top">

            </div>
            <div class="container">
                <ul class="list-inline">
                    <li class="list-inline-item">
                    <a href=" {% url 'like' image_id=image.id %}">
                    <i class="fa fa-heart-o fa-3x" style="color: black" aria-hidden="true"></i></a>

                    <a href=" {% url 'comment' image_id=image.id %}">
                    <i class="fa fa-comment-o fa-3x" aria-hidden="true" style="color:black;"></i></a>
                    <hr>
                    </li>
                    </ul>
                    <li class="list-inline-item">
                    <h5><strong>{{image.profile.username}}</strong> {{image.caption}}</h5>

                    </li>
                    </ul>
                    <br>
                    <p>{{image.likes.count}} {{likes|length}} likes </p>
                    <p class=""> {{image.comment.count}} comments </p>
                    <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5><strong>{{image.profile.username}}</strong> {{image.caption}}</h5>

                    </li>
                </ul>
                
                </div>
        </div>
        
        
        {%endfor%} 
    </div>
</div>

{% endblock %}
